#color1 {color:green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#description { color:darkmagenta;
font-weight: 500;
}
h1 {text-align: center;
    font-size: xx-large;
}
h2 {font-size: x-large;
}

